@use "sass:meta";

// Variables
@include meta.load-css("vars/_variables.scss");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family), sans-serif;
}

ul, ol, li {
    list-style-type: none;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    width: 95%;
    max-width: 1740px;
    margin: 0 auto;
}

h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 124%;
    color: var(--3);
    span {
        color: var(--4-2);
    }
}

h2 {
    font-weight: 400;
    font-size: 36px;
    line-height: 140%;
    text-align: center;
    color: var(--black);
}

h3 {
    font-weight: 300;
    font-size: 36px;
    line-height: 133%;
    color: var(--black);
}

h4 {
    font-weight: 300;
    font-size: 24px;
    line-height: 150%;
    color: var(--black);
}

.swiper-container {
    //overflow-x: hidden;
    padding: 0 32px;
}

.custom-select {
    position: relative;
    display: inline-block;
    max-width: 100%;
    z-index: 10;
    transition: all .3s ease-in-out;

}

.select-button {
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 37px;
    align-items: center;
    width: 100%;

    border: 1px solid var(--2-2);
    border-radius: 10px;
    padding: 20px 40px;
    background: rgba(255, 255, 255, 0.6);
    font-weight: 300;
    font-size: 20px;
    line-height: 160%;
    cursor: pointer;
    outline: none;
    transition: all .3s ease-in-out;
    color: var(--black);

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.arrow {
    transition: transform ease-in-out 0.3s;
}

.select-dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 0.25rem;
    background-color: white;
    list-style: none;
    padding: 82px 30px 20px 30px;
    max-height: 282px;
    overflow-y: auto;
    box-shadow: 0 20px 64px 0 var(--2);
}

.select-dropdown::-webkit-scrollbar {
    width: 7px;
}
.select-dropdown::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
}

.select-dropdown::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
}

.select-dropdown li {
    padding: 10px;
    cursor: pointer;
    font-weight: 300;
    font-size: 20px;
    line-height: 160%;
    color: var(--black);
}

.select-dropdown.hidden {
    display: none;
}

.select-button[aria-expanded="true"] .arrow {
    transform: rotate(180deg);
}
.select-button[aria-expanded="true"] {
    border-color: transparent;
}

.select-button[aria-expanded="false"]:hover {
    box-shadow: 0 20px 64px 0 var(--2);
    background: rgba(255, 255, 255, 0.6);
}
.select-button[aria-expanded="true"] {
    color: var(--4);
}

.wrap-breadcrumbs {
    margin-top: 32px;
    margin-bottom: 48px;
}

.breadcrumbs {
    display: flex;
    align-items: center;
    gap: 5px;
    li, a {
        position: relative;
        font-weight: 300;
        font-size: 15px;
        line-height: 133%;
        color: var(--black);
        transition: all .3s ease-in-out;
        span {
            color: var(--4);
        }
    }
    a {
        &:hover {
            color: var(--4);
        }
    }
    li:not(:has(> span)):after {
        content: '/';
        margin-left: 5px;
    }
}

.pagination {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    &__left, &__right {
        border-radius: 100%;
        background: #fff;
        border: 1px solid var(--2-2);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 22px;
        transition: .11s all ease-in-out;
        &:hover {
            background: var(--2);
        }
    }
    &__block {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1px;
    }
    &__item {
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 48px;
            width: 48px;
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            text-align: center;
            color: var(--4);
            transition: .11s all ease-in-out;
            border-radius: 50%;
            &:hover {
                background: var(--2);
            }
        }
        &.active-page {
            a {
                background: var(--2);
            }
        }
    }
}

.specialist .team__block {
    margin-top: 120px;
}

// Imports
@include meta.load-css("blocks/_btns.scss");
@include meta.load-css("blocks/_header.scss");
@include meta.load-css("blocks/_footer.scss");
@include meta.load-css("blocks/_team.scss");

@include meta.load-css("blocks/_home-main.scss");
@include meta.load-css("blocks/_home-submain.scss");
@include meta.load-css("blocks/_kpt.scss");
@include meta.load-css("blocks/_sign-up.scss");
@include meta.load-css("blocks/_work.scss");
@include meta.load-css("blocks/_specialists.scss");
@include meta.load-css("blocks/_certificates.scss");
@include meta.load-css("blocks/_spec.scss");
@include meta.load-css("blocks/_about.scss");
@include meta.load-css("blocks/_family.scss");
@include meta.load-css("blocks/_list.scss");
@include meta.load-css("blocks/_group.scss");
@include meta.load-css("blocks/_price.scss");
@include meta.load-css("blocks/_reviews.scss");
@include meta.load-css("blocks/_blog.scss");
@include meta.load-css("blocks/_prices.scss");
@include meta.load-css("blocks/_top-section.scss");
@include meta.load-css("blocks/_kpt-main.scss");
@include meta.load-css("blocks/_contact-baner.scss");
@include meta.load-css("blocks/_kpt-info.scss");
@include meta.load-css("blocks/_kpt-content.scss");
@include meta.load-css("blocks/_answer.scss");
@include meta.load-css("blocks/_contacts.scss");
@include meta.load-css("blocks/_tabs.scss");
@include meta.load-css("blocks/_description-block.scss");
@include meta.load-css("blocks/_quote.scss");
@include meta.load-css("blocks/_general-info.scss");
@include meta.load-css("blocks/_percents.scss");
@include meta.load-css("blocks/_reasons.scss");
@include meta.load-css("blocks/_news.scss");
@include meta.load-css("blocks/_groups.scss");
