@use "sass:meta";

// Variables
@include meta.load-css("vars/_variables.scss");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family), sans-serif;
}

ul, ol, li {
    list-style-type: none;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    width: 95%;
    max-width: 1740px;
    margin: 0 auto;
}

h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 124%;
    color: var(--3);
    span {
        color: var(--4-2);
    }
}

h2 {
    font-weight: 400;
    font-size: 36px;
    line-height: 140%;
    text-align: center;
    color: var(--black);
}

h3 {
    font-weight: 300;
    font-size: 36px;
    line-height: 133%;
    color: var(--black);
}

// Imports
@include meta.load-css("blocks/_btns.scss");
@include meta.load-css("blocks/_header.scss");
@include meta.load-css("blocks/_home-main.scss");
@include meta.load-css("blocks/_home-submain.scss");
@include meta.load-css("blocks/_kpt.scss");
@include meta.load-css("blocks/_sign-up.scss");
@include meta.load-css("blocks/_work.scss");