:root {
  --white: #fff;
  --gray: #f9f9f9;
  --black: #000;
  --1: #ff8740;
  --1-2: #eb6212;
  --2: #ffe3d2;
  --2-2: #fddac5;
  --3: #5a2e3f;
  --4: #9b011d;
  --4-2: #7d0017;
  --pattern: #ffe3d2;
  --font-family: "Montserrat", sans-serif;
}
