.groups {
    padding: 90px 0 51px;
    &__btns {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 40px;
        margin-top: 60px;
        a.active {
            box-shadow: 0 20px 64px 0 var(--2);
            background: rgba(255, 255, 255, 0.6);
        }
    }
    .group__list {
        display: none;
        &.active {
            display: grid;
        }
    }
}