.header {
    position: relative;
    padding: 33px 42px 33px 91px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__menu {
        display: flex;
        align-items: center;
    }
    &__item {
        &_link {
            padding: 21.5px 10px;
            transition: .15s all ease-in-out;
            svg path {
                transition: .15s all ease-in-out;
            }
            &:hover {
                color: var(--4);
                svg path {
                    fill: var(--4);
                }
            }
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        &_time {
            font-weight: 400;
            font-size: 14px;
            line-height: 133%;
            color: var(--4);
        }
    }
    &__phone {
        font-weight: 600;
        font-size: 24px;
        line-height: 133%;
        color: var(--4);
        position: relative;
        width: max-content;
        &::before {
            content: "";
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 0;
            height: 2px;
            background-color: var(--4-2);
            border-radius: 55px;
            transition: all 0.3s cubic-bezier(0.33, 0.42, 0.29, 0.84);
        }
        &:hover {
            color: var(--4-2);
            &::before {
                width: 100%;
            }
        }
    }
    &__contacts {
        display: flex;
        gap: 10px;
        align-items: center;
        &_text {
            font-size: 14px;
            line-height: 133%;
            color: var(--black);
        }
        &_links {
            display: flex;
            gap: 10px;
        }
        &_link {
            width: 51px;
            height: 50px;
            svg circle {
                transition: .13s all ease-in-out;
            }
            &:hover {
                &[title="whatsapp"] {
                    svg circle {
                        fill: #218b3a;
                    }
                }
                &[title="telegram"] {
                    svg circle {
                        fill: #1276a8;
                    }
                }
            }
        }
    }
}