.header {
    position: relative;
    padding: 33px 42px 33px 91px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__menu {
        position: relative;
        display: flex;
        align-items: center;
    }
    &__item {
        &_link {
            padding: 21.5px 10px;
            transition: .15s all ease-in-out;
            svg path {
                transition: .15s all ease-in-out;
            }
            &:hover {
                color: var(--4);
                svg path {
                    fill: var(--4);
                }
            }
            &.active {
                color: var(--4);
                svg path {
                    fill: var(--4);
                }
            }
        }
        &_wrap {
            position: absolute;
            top: 50px;
            left: -53px;
            box-shadow: 0 40px 52px 0 var(--2);
            background: var(--white);
            padding: 38px 55px;
            z-index: 100;
            opacity: 0;
            pointer-events: none;
            transition: all .3s ease-in-out;

            &.active {
                opacity: 1;
                pointer-events: all;
            }
        }
        &_bool {
            display: flex;
            align-items: center;
            gap: 15px;
            span {
                font-weight: 400;
                font-size: 18px;
                line-height: 150%;
                color: var(--black);
                transition: all .3s ease-in-out;
            }
            &-switch {
                border-radius: 50px;
                width: 60px;
                height: 20px;
                box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.25);
                background: var(--gray);
                cursor: pointer;
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    border-radius: 100%;
                    background: var(--4);
                    top: 50%;
                    transform: translateY(-50%);
                    transition: all .3s ease-in-out;
                }
            }
            &[data-tab="true"] {
                span:last-of-type {
                    color: var(--4);
                }
                .header__item_bool-switch::after {
                    right: 0;
                }
            }
            &[data-tab="false"] {
                span:first-of-type {
                    color: var(--4);
                }
                .header__item_bool-switch::after {
                    left: 0;
                }
            }
        }
        &_list {
            margin-top: 30px;
            display: none;
            max-width: 386px;
            flex-direction: column;
            gap: 5px;
            padding-right: 46px;
            border-right: 1px solid var(--2-2);
            &.active {
                display: flex;
            }
            &>li {
                &>a {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 150%;
                    color: var(--black);
                    transition: all .3s ease-in-out;
                }
                &:hover {
                    &>a {
                        color: var(--4);
                    }
                }
                a.active {
                    color: var(--4);
                }
                ul {
                    min-height: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    position: absolute;
                    max-width: 361px;

                    right: -361px;
                    padding-top: 98px;
                    top: 0;
                    opacity: 0;
                    pointer-events: none;
                    transition: all .3s ease-in-out;
                    padding-right: 55px;

                    &.active {
                        opacity: 1;
                        pointer-events: all;
                    }

                    box-shadow: 0 40px 52px 0 var(--2);
                    background: var(--white);
                    ul {
                        max-width: 361px;
                        right: -361px;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        width: 46px;
                        top: 0;
                        height: 100%;
                        background: var(--white);
                        left: -46px;
                    }

                    li {
                        a {
                            font-weight: 300;
                            font-size: 15px;
                            line-height: 127%;
                            letter-spacing: 0.03em;
                            color: var(--black);
                        }
                        &:hover {
                            &>a {
                                color: var(--4);
                            }
                        }
                    }
                }
            }
        }
        &.format {
            .header__item_list > li ul {
                padding-top: 49px;
                max-width: 612px;
                right: -612px;
                a {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 178%;
                    color: var(--black);
                    transition: all .3s ease-in-out;
                    &:hover {
                        color: var(--4);
                    }
                }
            }
            .header__item_list {
                margin-top: 10px;
            }
        }
        li:has(>a.header__item_banner) {
            margin-top: 28px;
        }
        &_banner {
            border-radius: 10px;
            background: linear-gradient(20deg, #ffba90 0%, #ffe3d2 100%);
            padding: 21px 101px 21px 32px;
            display: grid;
            width: 100%;
            position: relative;
            gap: 16px;
            overflow: hidden;
            grid-template-columns: 54px 1fr;
            &-img {
                width: 100%;
                height: auto;
                object-fit: contain;
            }
            h5 {
                font-weight: 300;
                font-size: 20px;
                line-height: 160%;
                color: var(--black);
            }
            p {
                position: relative;
                z-index: 10;
                font-weight: 300;
                font-size: 15px;
                line-height: 133%;
                display: flex;
                align-items: center;
                color: var(--black);
                svg {
                    width: 38px;
                    height: 38px;
                    margin-top: 4px;
                }
            }
            .cloud {
                position: absolute;
                width: 171px;
                height: auto;
                object-fit: contain;
                bottom: -14px;
                right: -29px;
                z-index: 1;
            }
            .circle {
                position: absolute;
                width: 187px;
                height: auto;
                object-fit: contain;
                bottom: -145px;
                right: -79px;
                z-index: 2;
            }
            .women {
                position: absolute;
                width: 133px;
                height: auto;
                object-fit: contain;
                bottom: -15px;
                right: -10px;
                z-index: 3;
            }
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        &_time {
            font-weight: 400;
            font-size: 14px;
            line-height: 133%;
            color: var(--4);
        }
    }
    &__phone {
        font-weight: 600;
        font-size: 24px;
        line-height: 133%;
        color: var(--4);
        position: relative;
        width: max-content;
        &::before {
            content: "";
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 0;
            height: 2px;
            background-color: var(--4-2);
            border-radius: 55px;
            transition: all 0.3s cubic-bezier(0.33, 0.42, 0.29, 0.84);
        }
        &:hover {
            color: var(--4-2);
            &::before {
                width: 100%;
            }
        }
    }
    &__contacts {
        display: flex;
        gap: 10px;
        align-items: center;
        &_text {
            font-size: 14px;
            line-height: 133%;
            color: var(--black);
        }
        &_links {
            display: flex;
            gap: 10px;
        }
        &_link {
            width: 51px;
            height: 50px;
            svg circle {
                transition: .13s all ease-in-out;
            }
            &:hover {
                &[title="whatsapp"] {
                    svg circle {
                        fill: #218b3a;
                    }
                }
                &[title="telegram"] {
                    svg circle {
                        fill: #1276a8;
                    }
                }
            }
        }
    }
}