.list {
	padding-top: 40px;
	&__wrap {
		margin-top: 40px;
		border-radius: 10px;
		padding: 60px 80px;
		background: var(--gray);
	}
	h3 {
		font-weight: 300;
		font-size: 32px;
		text-align: center;
		line-height: 120%;
	}
	p {
		margin-top: 10px;
		font-weight: 400;
		font-size: 18px;
		line-height: 150%;
		color: var(--black);
	}
	ul {
		margin-top: 30px;
		display: flex;
		flex-direction: column;
		gap: 10px;
		li {
			display: grid;
			grid-template-columns: 104px 1fr;
			column-gap: 20px;
			row-gap: 10px;
			font-weight: 400;
			font-size: 18px;
			line-height: 150%;
			color: var(--black);
			span {
				font-weight: 300;
				font-size: 32px;
				line-height: 120%;
				color: var(--4);
			}
		}
	}
}