.spec {
	position: relative;
	padding-top: 32px;
	overflow: hidden;
	background: url("../img/home-submain-bg.jpg") center center/cover no-repeat;

	.cloud {
		position: absolute;
		right: -14px;
		bottom: -60px;
		width: 822px;
		object-fit: contain;
		z-index: 1;
	}

	.circle {
		position: absolute;
		right: -14px;
		bottom: -494px;
		width: 729px;
		object-fit: contain;
		z-index: 2;
	}

	.women {
		position: absolute;
		right: 112px;
		bottom: -28px;
		width: 476px;
		object-fit: contain;
		z-index: 3;
	}

	h1 {
		margin-top: 38px;
		color: var(--4);
	}

	&__wrap {
		max-width: 1031px;
		position: relative;
		z-index: 4;
		a.btn-video {
			span {
				transition: all .15s ease-in-out;
				svg path {
					transition: all .15s ease-in-out;
				}
			}
			&:hover {
				span {
					background: #dd0c32;
					svg path {
						fill: white;
					}
				}
			}
		}
	}
	&__descr {
		margin-top: 10px;
		display: flex;
		column-gap: 30px;
		row-gap: 14px;
		align-items: center;
		justify-content: space-between;
	}
	h3 {
		font-weight: 300;
		font-size: 28px;
		line-height: 130%;
		color: var(--black);
	}
	.btn-main {
		background: rgba(255, 255, 255, 0.6);
	}
	&__middle {
		margin-top: 20px;
		display: flex;
		grid-template-rows: 100px;
		column-gap: 20px;
		row-gap: 10px;
		img {
			width: 100px;
			height: auto;
			object-fit: contain;
			border-radius: 100%;
		}
		&_wrap {
			display: flex;
			align-items: center;
			position: relative;
			div {
				position: absolute;
				transition: all .3s ease-in-out;
				box-shadow: 0 20px 64px 0 var(--2);
				background: var(--white);
				opacity: 0;
				left: 90px;
				width: max-content;
				z-index: 10;
				border-radius: 10px;
				pointer-events: none;
			}
			&:hover {
				div {
					opacity: 1;
				}
			}
		}

		p {
			padding: 20px;
			font-weight: 400;
			font-size: 18px;
			line-height: 150%;
			color: var(--black);
			display: flex;
			align-items: center;
			gap: 20px;
			border-radius: 10px;
			margin-left: -10px;
			background: var(--white);
			span {
				font-weight: 300;
				font-size: 32px;
				line-height: 120%;
				color: var(--4);
			}
		}
	}
	&__bottom {
		margin-top: 36px;
		position: relative;
		z-index: 4;
		backdrop-filter: blur(10.899999618530273px);
		background: rgba(255, 255, 255, 0.3);
		padding: 20px 0;
		&>div {
			display: flex;
			align-items: center;
			justify-content: space-between;
			row-gap: 23px;
		}
	}
	&__left {
		ul {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			gap: 10px;
			li {
				font-weight: 300;
				font-size: 15px;
				line-height: 133%;
				color: var(--white);
				border-radius: 40px;
				padding: 10px 20px;
				background: var(--4-2);
			}
			&:last-of-type {
				margin-top: 10px;
				li {
					border: 1px solid var(--1-2);
					color: var(--1-2);
					background: transparent;
				}
			}
		}
	}

	&__right {
		display: flex;
		gap: 20px;

		div {
			border-radius: 100%;
			width: 120px;
			height: 120px;
			position: relative;
			z-index: 1;
			font-weight: 700;
			font-size: 12px;
			line-height: 120%;
			text-align: center;
			color: var(--white);
			padding: 22px 22px 11px;
			svg {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				right: 0;
				z-index: -1;
			}
			span:last-of-type {
				font-weight: 600;
				font-size: 20px;
				line-height: 120%;
				text-align: center;
				color: var(--white);

			}
			&.price {
				background: var(--4-2);
				span:first-of-type {
					font-weight: 600;
					font-size: 28px;
					line-height: 120%;
					text-align: center;
					color: var(--white);
					display: block;
					margin-top: 15px;
				}
			}
			&.kazak {
				background: var(--1-2);
				padding-top: 8px;
				span:first-of-type {
					font-weight: 600;
					font-size: 40px;
					line-height: 100%;
					text-align: center;
					color: var(--white);
					margin-top: 12px;
					display: block;
				}

			}
		}
	}
}