@media(max-width: 1200px) {
    .prices {
        margin: 10px 0;
        &__title {
            font-size: 32px;
            line-height: 130%;
            margin-bottom: 30px;
        }
        &__descr {
            font-size: 24px;
            line-height: 140%;
        }
        &__text {
            font-size: 20px;
            line-height: 133%;
            margin-bottom: 30px;
        }
        
    }
    .price {
        padding-top: 40px;
        &__wrap {
            padding: 20px 30px;
            margin-top: 30px;
            ul {
                margin: 20px 0;
                li {
                    font-size: 18px;
                    line-height: 133%;
                    span {
                        font-size: 20px;
                        line-height: 133%;
                        font-weight: 700;
                    }
                }
            }
        }
        
        &__top {
            align-items: center;
            h3 {
                font-size: 32px;
                line-height: 120%;
            }
            h4 {
                font-size: 20px;
                line-height: 133%;
                margin-top: 10px;
            }
        }
    }
}

@media(max-width: 768px) {
    .prices {
        &__title {
            margin-bottom: 20px;
            font-size: 24px;
        }
        &__descr {
            font-size: 20px;
            line-height: 130%;
            margin-bottom: 20px;
        }
        &__text {
            font-size: 16px;
        }
        
    }
    .price {
        &__wrap {
            padding: 20px;
            margin-top: 30px;
            &:first-child {
                margin-top: 0;
            }
            ul {
                margin: 20px 0;
                li {
                    font-size: 18px;
                    line-height: 133%;
                    span {
                        font-size: 20px;
                        line-height: 133%;
                        font-weight: 700;
                    }
                }
            }
            .btn-main {
                margin: 0 auto;
            }
        }
        
        &__top {
            display: flex;
            position: relative;
            align-items: center;
            & > img {
                position: absolute;
                width: 101px;
                height: 101px;
                /* opacity: 0; */
                top: 0;
            }
            h3 {
                grid-column: 2 / 3;
                font-size: 24px;
            }
            h4 {
                font-size: 18px;
                display: grid;
                grid-column: 1 / 3;
            }
        }
        &__info {
            display: grid;
            grid-template-columns: 121px 1fr;
            grid-template-rows: 101px 1fr;
            align-items: center;
        }
    }
}

@media(max-width: 600px) {
    .price__wrap ul li {
        flex-direction: column;
        align-items: flex-start;
    }
}