@use "sass:meta";

@media(max-width: 1440px) {
	.container {
		width: 100%;
		padding: 0 24px;
	}
}

@media(max-width: 768px) {
	.container {
		padding: 0 16px;
	}
}

// Imports
@include meta.load-css("./_home-main.scss");